<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRAKTIK5.Properties.Settings.PRAKT5ConnectionString"
            connectionString="Data Source=ZXCQQ;Initial Catalog=PRAKT5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PRAKTIK5.Properties.Settings.prak5ConnectionString"
            connectionString="Data Source=ZXCQQ;Initial Catalog=prak5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>